<div uib-accordion-group class="panel-default" is-open="status.open">
    <script type="text/ng-template" id="group-template.html">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="$ctrl.toggleOpen()"
                   uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                  {{$ctrl.heading}}
                </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </script>
    <uib-accordion-heading>
        {{$ctrl.mission.name}}
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"
           ng-click="$ctrl.loadDetails(this)"></i>
    </uib-accordion-heading>
    <h3 style="font-family: courier;">Gallery</h3>
    <div style="border-top: 2.5px solid#888; padding-top:15px; font-family: courier; font-size:16px">
        <div uib-carousel active="active" interval="$ctrl.myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
                <img ng-src=" data:image/png;base64,{{slide.image}}" style="margin:auto;">
            </div>
            </div>
        </div>


    <h3 style="font-family: courier;">Coordinates</h3>
    <div style="border-top: 2.5px solid#888; padding-top:15px; font-family: courier; font-size:16px">
        <h4 style="font-family: courier;  margin-top:0.3cm">Beginning</h4>
        <table>
            <tr>
                <td>
                    <input type="text" class="form-control" ng-model="$ctrl.navigationData.startX">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="$ctrl.navigationData.startY">
                </td>
            </tr>
        </table>
        <h4>End</h4>
        <table>
            <tr>
                <td>
                    <input type="text" class="form-control" ng-model="$ctrl.navigationData.endX">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="$ctrl.navigationData.endY">
                </td>
            </tr>

        </table>
        <h3 style="font-family:courier; margin-top:0.7cm">Battery</h3>
        <div style="border-top: 2.5px solid#888; padding-top:15px; font-family: courier; font-size:16px">
            <uib-progressbar class="progress" animate="false" value="$ctrl.navigationData.battery"
                             type="{{$ctrl.type}}"><b class="progress-value">{{$ctrl.navigationData.battery}}%</b>
            </uib-progressbar>

        </div>
</div>
</div>
