<div uib-accordion-group class="panel-default" is-open="status.open">
    <script type="text/ng-template" id="group-template.html">
        <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
                <a href tabindex="0" class="accordion-toggle" ng-click="$ctrl.toggleOpen()"
                   uib-accordion-transclude="heading">
                <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                  {{$ctrl.heading}}
                </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </script>
    <uib-accordion-heading>
        {{$ctrl.mission.name}}
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"
           ng-click="$ctrl.loadDetails(this)"></i>
    </uib-accordion-heading>
    <h3>Gallery</h3>
    <div style="height: 305px">
        <div uib-carousel active="active" interval="$ctrl.myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">

                <img ng-src=" data:image/png;base64,{{slide.image}}" style="margin:auto;">
            </div>
        </div>
    </div>


    <hr/>
    <h3>Coordinates</h3>
    <h4>Beginning</h4>
    <table>
        <tr>
            <td>
                <input type="number" class="form-control" ng-model="$ctrl.myInterval">
            </td>
            <td>
                <input type="number" class="form-control" ng-model="$ctrl.myInterval">
            </td>
        </tr>
    </table>
    <h4>End</h4>
    <table>
        <tr>
            <td>
                <input type="number" class="form-control" ng-model="$ctrl.myInterval">
            </td>
            <td>
                <input type="number" class="form-control" ng-model="$ctrl.myInterval">
            </td>
        </tr>

    </table>
    <hr/>
    <h3>Battery</h3>
    <uib-progressbar animate="false" value="69" type="success"><b>69%</b></uib-progressbar>


</div>
