<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Missions Page</title>
</head>
<body>

<div class="container">
    <h2 style="font-family:courier; margin-bottom:0.5cm; margin-top:0.5cm;">Missions page</h2>
    <div class="msi-content" ui-view ng-cloak></div>
</div>


<div class="accordion" ng-controller="AccordionDemoCtrl" >
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header  ng-class="{'text-muted': isDisabled}" >
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>




  <uib-accordion close-others="oneAtATime">



    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading >
        Mission 1 <i class="pull-right glyphicon"  ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}"></i>
      </uib-accordion-heading>
      <div class="panel-inside" ng-controller="CarouselDemoCtrl">
        <h3 style="font-family: courier;">Gallery</h3>
        <div style="border-top: 2.5px solid#888; padding-top:15px; font-family: courier; font-size:16px" >
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div ng-controller="ProgressDemoCtrl">


    <h3 style="font-family: courier;" >Coordinates</h3>
      <div style="border-top: 2.5px solid#888; padding-top:15px; font-family: courier; font-size:16px" >
    <h4 style="font-family: courier;  margin-top:0.3cm" >Beginning</h4>
    <table >
      <tr>
        <td >
            <input type="number" class="form-control" ng-model="myInterval" >
        </td>
        <td >
            <input type="number" class="form-control" ng-model="myInterval" >
        </td>
      </tr>
      </table>
      <h4>End</h4>
      <table >


      <tr>

        <td >
            <input type="number" class="form-control" ng-model="myInterval" >
        </td>
        <td >
            <input type="number" class="form-control" ng-model="myInterval">
        </td>
      </tr>

      </table>
</div>


    <h3 style="font-family:courier; margin-top:0.7cm">Battery</h3>
      <div style="border-top: 2.5px solid#888; padding-top:15px; font-family: courier; font-size:16px" >
    <uib-progressbar class="progress" animate="false" value="69" type="success"><b class="progress-value">69%</b></uib-progressbar>

</div>
</div>
</div>
    </div>

  </uib-accordion>
</div>


</body>
</html>
