
.panel-default >.panel-heading {
    background-color: #222;
    color: #FFFFFF;
    font-family: courier;
    font-weight: bold;

}
.panel-default >.panel-inside{
  border-width: 2px;
}
.progress {
    text-align:center;
}
.progress-value {
    position:absolute;
    right:0;
    left:0;
    color: #222;
    font-size: 16px;
    font-weight: normal;
    font-family:cursive;
}
