
.panel-default >.panel-heading {
    background-color: #11151C;
    color: #FFFFFF;
    font-family: courier;
    font-weight: bold;

}
.panel-default >.panel-inside{
  border-width: 2px;
}
.percentage{
  align-items: center;
}
