
<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
        <li >
                  <a class="navbar-brand" style="font-family:courier" ng-show="$ctrl.isItLogin()||$ctrl.isItNewUser()||$ctrl.isItHome()||$ctrl.isCustomer()||$ctrl.isAdmin()||$ctrl.isOperator()" ui-sref="root.homePage">DRONIFY
              <span class="sr-only">(current)</span></a>
            </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isOperator()" ui-sref="root.operatorPage">Token
                <span class="sr-only">(current)</span></a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isCustomer()" ui-sref="root.customerPage" >Orders
                <span class="sr-only">(current)</span></a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isCustomer()" ui-sref="root.liveControl">Live Control
                <span class="sr-only">(current)</span></a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isCustomer()" ui-sref="root.accountInformation" >Account
                <span class="sr-only">(current)</span></a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isOperator()" ui-sref="root.missionsPage">Missions
                <span class="sr-only">(current)</span></a>
                </li>

                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isOperator()" ui-sref="root.accountInformation">Account
                <span class="sr-only">(current)</span></a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isAdmin()" ui-sref="root.orderList" >
                      Orders
                      <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isAdmin()" ui-sref="root.userList">Users
                <span class="sr-only">(current)</span></a>
                </li>
                <li ui-sref-active="active">
                    <a class="menu-item" ng-show="$ctrl.isAdmin()" ui-sref="root.accountInformation">Account
                <span class="sr-only">(current)</span></a>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-show="$ctrl.isOperator()">
                  <a ng-show="$ctrl.isVerified" class="btn btn-default" style="border-radius:0; padding:14px 18px;background-color:#58AF50; border-color:#58AF50; color:#FFFFFF; font-weight:bold; font-family:courier;">Verified</a>
                  <a ng-hide="$ctrl.isVerified" class="btn btn-default" style="border-radius:0; padding:14px 18px;background-color:#B21A1A; border-color:#B21A1A; color:#FFFFFF; font-weight:bold; font-family:courier;"> Not Verified </a>
              </li>
                <li>
                    <div class="hello" ng-show="$ctrl.isUserName()">Hello, {{$ctrl.userName()}}!</div>
                </li>
                <li>
                    <a class="menu-item" ng-click="$ctrl.logout()" href="#" ng-show="$ctrl.isLogoutVisible()">Logout</a>
                </li>

    </ul>

</nav>
<nav ng-show="$ctrl.isItLogin()" class="navbar navbar-inverse  navbar-fixed-bottom" style="max-height:25px;text-align: center; border: none; ">
  <label style=" font-family:courier; color:#fff; font-size:16px;  margin-top:15px; "> Created by DotNec</label>
</nav>
