<nav ng-show="$ctrl.isNavigationVisible()" class="navbar navbar-fixed-top " role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <ul class="nav navbar-nav" style="background-color: rgba(0, 0, 50, 1); width: 100%;">
  <a class="navbar-brand" >Dronify</a>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a ng-show="$ctrl.isOperator()" ng-click="$ctrl.goToOperatorPage()" >Operator page</a>
      </li>
      <li class="nav-item">
        <a ng-show="$ctrl.isOperator()" ng-click="$ctrl.goToMissionsPage()" >Missions page</a>
      </li>
      <li class="nav-item">
        <a ng-show="$ctrl.isItNewUser()" ng-click="$ctrl.accountInfo()" >Account Details</a>
      </li>
      <li class="nav-item" ng-show="$ctrl.isOperator()" ng-if="true">
        <a ng-if="false">
          <button type="button" class="btn btn-success">Verified</button>
        </a>
        <a ng-if="true">
          <button type="button" class="btn btn-danger">Not Verified</button>
        </a>
      </li>


      <li class="nav-item" style="float: right;" >
        <a ng-click="$ctrl.logout()" ng-show="$ctrl.isLogoutVisible()" >Logout</a>
      </li>

    </ul>

</nav>
<!--<a ng-click="$ctrl.logout()" ng-show="$ctrl.isLogoutVisible()">Logout</a> -->
