.menu-item {
  font-family: courier;
  color: #FFFFFF;
  font-size: 16px;

}

.navbar-brand{
  color:#FFFFFF;
  font-weight:bold;
  font-size:22px;
  font-family: courier;
}

.hello{
  color: #FFFFFF;
  font-size: 16px;
  font-family: courier;
  padding-top: 15px;
  padding-right: 22px;
  padding-left: 22px;
}
