


<nav ng-show="$ctrl.isNavigationVisible()" class="navbar navbar-fixed-top " role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->


  <ul class="nav navbar-nav" style=" width: 100%; background-color:#11151C">
  <a class="navbar-brand" style="font-family:courier" >DRONIFY</a>
    <!--  <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->


      <li class="nav-item">
        <a  class="menu-item" ng-show="$ctrl.isAdmin()" href="#/adminPage" ng-click="$ctrl.goToAdminPage()" >Home
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isCustomer()" href="#/customerHomePage" ng-click="$ctrl.goToCustomerHomePage()" >Home
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isOperator()" href="#/operatorHomePage" ng-click="$ctrl.goToOperatorHomePage()" >Home
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  class="menu-item" ng-show="$ctrl.isOperator()" href="#/operatorPage" ng-click="$ctrl.goToOperatorPage()" >Token
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isCustomer()" href="#/customerPage" ng-click="$ctrl.goToCustomerPage()" >Orders
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isCustomer()" href="#/accountInformation" ng-click="$ctrl.accountInfo()" >Account
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isOperator()" href="#/missionsPage" ng-click="$ctrl.goToMissionsPage()" >Missions
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isOperator()"  href="#/accountInformation" ng-click="$ctrl.accountInfo()" >Account
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isAdmin()" href="#/userList" ng-click="$ctrl.goToUserList()" >Users
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="menu-item" ng-show="$ctrl.isAdmin()"  href="#/accountInformation" ng-click="$ctrl.accountInfo()" >Account
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="float: right;" >
        <a class="menu-item" ng-click="$ctrl.logout()" href="#/accountInformation" ng-show="$ctrl.isLogoutVisible()" >Logout</a>
      </li>

      <li class="nav-item" style="float: right;" ng-show="$ctrl.isOperator()" >
        <a ng-show="$ctrl.isVerified"  class="btn btn-default" style="padding:14px 18px;background-color:#58AF50; border-color:#58AF50; color:#FFFFFF; font-weight:bold; font-family:courier;">Verified</a>
        <a ng-hide="$ctrl.isVerified" class="btn btn-default" style="padding:14px 18px;background-color:#B21A1A; border-color:#B21A1A; color:#FFFFFF; font-weight:bold; font-family:courier;"> Not Verified </a>
      </li>

    </ul>

</nav>
