<div class="container auth">
  <h1 class="text-center" style="font-family:courier;">Order list  </h1>

  <fieldset>
    <div>
      <form action="">
        <div class="span7">
          <div style="margin-top:0.5cm; margin-bottom:0.5cm" class="widget stacked widget-table action-table">
            <span style="margin-top:0.5cm; margin-bottom:0.5cm" class="label">Filter by order status:</span>
            <select ng-model="$ctrl.searchparam.status" id="select" ng-change="$ctrl.filter()" >
              <option value="">All</option>
              <option value="not completed">Not completed</option>
              <option value="approved">Approved</option>
              <option value="declined">Declined</option>
              <option value="progress">In progress</option>
              <option value="done">Done</option>
            </select><p></p>
             <ul uib-pagination total-items="$ctrl.totalItem" items-per-page="$ctrl.itemsPerPage" ng-model="$ctrl.currentPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="$ctrl.onChange()"></ul>
            <div class="widget-content">

              <table class="table table-striped table-bordered">
                <thead>

                  <tr>
                    <th>#</th>
                    <th>User ID</th>
                    <th>Mission Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Mission Details</th>
                    <th><a href="#/orderList" class="span7" ng-click="orderByField='date'; reverseSort = !reverseSort">
                      Date<span ng-show="orderByField == 'date'"><span ng-show="!reverseSort"><img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Arrow-up-navmenu.png"></span><span ng-show="reverseSort"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Arrow-down-navmenu.png"</span></span>
                    </a></th>
                    <th>Status</th>
                    <th>Approve</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in $ctrl.slicedOrders | filter: $ctrl.searchparam | orderBy:orderByField:reverseSort" >
                    <td>{{$index + 1 }}</td>
                    <td>{{order.userId}}</td>
                    <td style="max-width:120px; word-wrap:break-word;">{{order.name}}</td>
                    <td style="max-width:120px; word-wrap:break-word;">{{order.email}}</td>
                    <td style="max-width:120px; word-wrap:break-word;">{{order.phone}}</td>
                    <td style="max-width:120px; word-wrap:break-word;">{{order.details}}</td>
                    <td style="max-width:100px; word-wrap:break-word;">{{order.date}}</td>
                    <td>{{order.status}}</td>
                    <td style="max-width:80px; word-wrap:break-word;">

                        <button type="button" class="btn btn-default"
                            style=" border:none; font-weight:bold; padding: 3px 6px; color:#fff; font-family:courier; width:80px; background-color:rgb(88, 175, 80)"
                            ng-click="$ctrl.approve(order)" ng-hide="order.status == 'approved' || order.status == 'done'">Accept
                        </button>
                        <button type="button" class="btn btn-default"
                            style="clear:left; border:none; font-weight:bold; padding: 3px 6px; color:#fff; font-family:courier; width:80px; background-color:rgb(178, 26, 26)"
                            ng-click="$ctrl.decline(order)" ng-hide="order.status == 'declined' || order.status == 'done'">Decline
                        </button>

                    </td>
                    <!--td><input ngModel="order.isApproved" type="checkbox" value="true"></td-->
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </fieldset>


        <div class="clearfix"></div>
      </div>
    </div>
  </div> <!-- /widget -->
</div>
