<div class="container auth">
    <h1 class="text-center">Log in</h1>
    <div id="big-form" class="well auth-box">
      <form>
        <fieldset>

<form class="msi-signin">



           <div class="form-group">
             <label class=" control-label" for="inputEmail">Username</label>
             <div class="">
               <input id="inputEmail" name="username" class="form-control input-md" type="text"
               ng-model="$ctrl.username" required autofocus>

             </div>
           </div>

                     <div class="form-group">
                       <label class=" control-label" for="inputPassword">Password</label>
                       <div class="">
                         <input id="inputPassword" name="password" class="form-control input-md" type="password"
                         ng-model="$ctrl.password" >

                       </div>
                     </div>




    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$ctrl.login()">
        Sign in
    </button>

    <button class="btn btn-lg btn-default btn-block" ui-sref="root.newUser" ng-click="$ctrl.createUser()">
        New user? Sign up!
    </button>





    <div class="alert alert-danger" role="alert" ng-show="$ctrl.error">{{$ctrl.error}}</div>
</form>
</fieldset>
    </form>
  </div>
  <div class="clearfix"></div>
</div>
