<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Page</title>
</head>
<body>

<div class="container">
    <h3 style="font-family:courier; margin-top:2cm;">This is the page where you can control your drone live</h3>
   <div class="col-md-8" id="droneStream"></div>
    <button class= "btn btn-warning"
    style="margin-left:0.5cm;"
    ng-click="$ctrl.openConnection()"> Start </button>
    <button class= "btn btn-warning"
    style="margin-left:0.5cm; "
    ng-click="$ctrl.closeConnection"> Close </button>
</div>



  <!-- Scripts go here -->
  <!-- <script src="dronestream/dist/vendor/broadway/sylvester.js"></script>
  <script src="node_modules/dronestream/dist/vendor/broadway/glUtils.js"></script>
  <script src="node_modules/dronestream/dist/vendor/broadway/util.js"></script>
  <script src="node_modules/dronestream/dist/vendor/broadway/avc-codec.js"></script>
  <script src="node_modules/dronestream/dist/vendor/broadway/avc.js"></script>
  <script src="node_modules/dronestream/dist/vendor/broadway/canvas.js"></script>
  <script src="dronestream-client-custom/nodecopter-stream.js"></script>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script> -->



</body>
</html>
