<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Page</title>
</head>
<body>

<div class="container">
    <h3 style="font-family:courier; margin-top:2cm;">This is the page where you can control your drone live</h3>
   <div class="col-md-8" id="droneStream"></div>
    <button class= "btn btn-warning"
    style="margin-left:0.5cm;"
    ng-click="$ctrl.openConnection()"> Start </button>
    <button class= "btn btn-warning"
    style="margin-left:0.5cm; "
    ng-click="$ctrl.closeConnection"> Close </button>
</div>


</body>
</html>
