

<div class="container" style="margin-bottom:0; width:85%; height:100%; background-color: rgba(34, 34, 34, 0.9);">
    <h1 class="homeHeader" style="font-size:36px; margin-top:30px; font-weight:bolder"> DRONIFY </h1>
    <h3 class="caption" style="font-style: italic">Capturing moments</h3>
    <div align="middle">
    <iframe style="background-color: rgba(34, 34, 34, 0.9); border:none;"  width="80%" height="360" src="https://www.youtube.com/embed/oYuP3VDSrQk?autoplay=1"> </iframe>
  </div>
  <!--div class="homeHeader">
    <a onClick="document.getElementById('middle').scrollIntoView();" class="btn btn-primary btn-xlarge" >Learn more</a>
  </div-->
  <h3 class="homeHeader" id="middle">HOW TO ORDER OUR SERVICES</h3>
  <h3 class="caption1">1. Sign up or log in</h3>
  <h3 class="caption1">2. Place an order </h3>
  <h3 class="caption1">3. Your order will be <br>reviewed and completed</h3>
  <h3 class="caption1">4. Review order results </h3>

<h3 class="homeHeader">WHAT MAKES US DIFFERENT</h3>
  <h3 class="caption">Live drone control for customers </h3>
  <h3 class="caption">Photos and videos of your object</h3>
  <h3 class="caption">Videos automaticaly uploaded to Youtube</h3>

  <div class="homeHeader">
    <a id="btn-login" style="margin-bottom:30px "href="#/newUser" class="btn btn-warning">Sign up now</a>
  </div>
</div>
