<html>

<body>
  <video poster="src/main/app/Images/back4.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="src/main/app/Images/Gif/vilnius.webm" type="video/webm" >
      <source src="src/main/app/Images/Gif/vilnius.mp4" type="video/mp4">
      </video>

      <div  class="container">
        <div id="homebox" style="margin-top:150px; border-color:#222" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info" style="background-color: rgba(34, 34, 34, 0.9)" >
            <div class="panel-heading" style="background-color:#222; border-radius:0" >
              <div class="panel-title" style="font-family: courier; text-align:center; font-weight:bold; color:#FFFFFF; font-size:22px" >DRONIFY</div>

            </div>

            <div style="padding-top:30px" class="panel-body" >


              <div class="fade-in one"><h3 class="caption3 " >Capturing moments...</h3></div>


              <div class="fade-in two" ng-click="$ctrl.showDetails()">
                <a  style="margin-bottom:10px; width: 100%; border:none; background-color: rgba(246, 177, 74, 0.8)" class="btn btn-warning">Find out more</a>
              </div>

              <div  ng-show="$ctrl.detailsVisible">
                <h3 class="homeHeader" id="middle">HOW TO ORDER OUR SERVICES</h3>
                <h3 class="caption1">1. Sign up or log in</h3>
                <h3 class="caption1">2. Place an order </h3>
                <h3 class="caption1">3. Your order will be <br>reviewed and completed</h3>
                <h3 class="caption1">4. Review order results </h3>

                <h3 class="homeHeader">WHAT MAKES US DIFFERENT</h3>
                <h3 class="caption">Live drone control for customers </h3>
                <h3 class="caption">Photos and videos of your object</h3>
                <h3 class="caption">Videos automaticaly uploaded to Youtube</h3>
              </div>

              <div class="fade-in three">
                <a style="margin-bottom:30px; width: 100%; border:none; background-color: rgba(88, 123, 171, 0.8)" href="#/login" class="btn btn-warning" >Sign in now</a>
              </div>





              <div class="alert alert-danger" role="alert" ng-show="$ctrl.error">{{$ctrl.error}}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </body>
  </html><!--
    <div class="container" style="margin-bottom:0; width:85%; height:100%; background-color: rgba(183, 183, 183, 0.4);">
    <div id="homebox" style="margin-top:150px; border-color:#222" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h1 class="homeHeader" style="font-size:36px; margin-top:30px; font-weight:bolder"> DRONIFY </h1>
    <h3 class="caption" style="font-style: italic">Capturing moments</h3>
    <div align="middle">
  </div>
  <!--div class="homeHeader">
  <a onClick="document.getElementById('middle').scrollIntoView();" class="btn btn-primary btn-xlarge" >Learn more</a>
</div-->
<!--<h3 class="homeHeader" id="middle">HOW TO ORDER OUR SERVICES</h3>
<h3 class="caption1">1. Sign up or log in</h3>
<h3 class="caption1">2. Place an order </h3>
<h3 class="caption1">3. Your order will be <br>reviewed and completed</h3>
<h3 class="caption1">4. Review order results </h3>

<h3 class="homeHeader">WHAT MAKES US DIFFERENT</h3>
<h3 class="caption">Live drone control for customers </h3>
<h3 class="caption">Photos and videos of your object</h3>
<h3 class="caption">Videos automaticaly uploaded to Youtube</h3>

<div class="homeHeader">
<a id="btn-login" style="margin-bottom:30px "href="#/newUser" class="btn btn-warning">Sign up now</a>
</div>
</div>
</div>
</body>
</html>
