.homeHeader
{
padding-top: 20px;
font-family:courier;
text-align: center;
color: #fff;

}

.caption{
  font-size:16px;
  font-family:courier;
  text-align: center;
  color:#fff;
  padding-bottom: 18px;
}

.caption1{
  font-size:16px;
  font-family:courier;
  margin-left: 40%;
  color:#222;
}
.caption3{
  font-size: 18px;
  color: #fff;
  font-family: courier;
  text-align: center;
  margin-top:5px;
  margin-bottom:20px;

}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
