.homeHeader
{
padding-top: 20px;
font-family:courier;
text-align: center;
}

.caption{
  font-size:16px;
  font-family:courier;
  text-align: center;
  color: grey;
  padding-bottom: 20px;
}

.caption1{
  font-size:16px;
  font-family:courier;
  margin-left: 40%;
  color: grey;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
