<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator Page</title>
</head>
<body>

  <div class="container">
    <h3>Operator page</h3>
    <div class="msi-content" ui-view ng-cloak></div>
  </div>

  <div ng-controller="CollapseDemoCtrl">

    <div ng-if="$ctrl.operatorState.token">
      <h4>Token:</h4>
      <pre>{{$ctrl.operatorState.token}}</pre>
      <h4>Verification: </h4>
      <pre>{{$ctrl.operatorState.verified}}</pre>
    </div>

    <button type="button" class="btn btn-default" ng-click="$ctrl.generateToken()">Generate token</button>

  </div>




</body>
</html>
