<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operator Page</title>
</head>
<body>

  <div class="container">
      <h3>Operator page</h3>
      <div class="msi-content" ui-view ng-cloak></div>
  </div>



<div class="container">
    <h3>Missions page</h3>
    <div class="msi-content" ui-view ng-cloak></div>
</div>



<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>




  <uib-accordion close-others="oneAtATime">



    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        Mission 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div ng-controller="CarouselDemoCtrl">
        <h3>Galery</h3>
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="ProgressDemoCtrl">

    <hr />
    <h3>Coordinates</h3>
    <h4>Beginning</h4>
    <table >
      <tr>
        <td >
            <input type="number" class="form-control" ng-model="myInterval" >
        </td>
        <td >
            <input type="number" class="form-control" ng-model="myInterval" >
        </td>
      </tr>
      </table>
      <h4>End</h4>
      <table >


      <tr>

        <td >
            <input type="number" class="form-control" ng-model="myInterval" >
        </td>
        <td >
            <input type="number" class="form-control" ng-model="myInterval">
        </td>
      </tr>

      </table>


    <hr />
    <h3>Battery</h3>
    <uib-progressbar animate="false" value="dynamic" type="success"><b>69%</b></uib-progressbar>

</div>
</div>
    </div>

  </uib-accordion>
</div>


</body>
</html>
