<div class="container auth">
    <div id="loginbox" style="margin-top:50px;border-color:#11151C; background-color:#FFFFFF"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" style=" border-width: 3px; border-color:#11151C;">
            <div class="panel-heading" style="background-color:#11151C; border-radius:0">
                <div class="panel-title" style="font-family: courier; font-weight:bold; color:#FFFFFF; font-size:22px">
                    Place an order
                </div>

            </div>

            <div id="big-form" class="well auth-box" style="margin-bottom:0; background-color:#FFFFFF">
                <form>

                    <div ng-form="vm.myCustomForm">
                        <div class="container">
                            <div class="msi-content" ui-view ng-cloak></div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class=" control-label" for="textinput">Mission Name</label>
                            <div class="">
                                <input id="textinput" name="name" class="form-control input-md" type="text"
                                       ng-model="$ctrl.order.name" required ng-maxlength="255">
                                <div class="help-block" ng-show="vm.myCustomForm.name.$error.required">Field Mission
                                    Name is required!
                                </div>
                                <div class="help-block" ng-show="vm.myCustomForm.name.$error.maxlength">Maximum length
                                    of the mission name is 255 symbols.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label" for="textinput">Email</label>
                            <div class="">
                                <input id="textinput" name="email" class="form-control input-md" type="email"
                                       ng-model="$ctrl.order.email" required>
                                <div class="help-block" ng-show="vm.myCustomForm.email.$error.required">Field Email is
                                    required!
                                </div>
                                <div class="help-block" ng-show="vm.myCustomForm.email.$error.email">Invalid email
                                    adress
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class=" control-label" for="textinput">Phone</label>
                            <div class="">
                                <input id="textinput" name="phone" class="form-control input-md" type="text"
                                       ng-model="$ctrl.order.phone" required pattern="^[\+ | 0-9][0-9]*">
                                <div class="help-block" ng-show="vm.myCustomForm.phone.$error.required">Field phone is
                                    required!
                                </div>
                                <div class="help-block" ng-show="vm.myCustomForm.phone.$error.pattern">Field phone is
                                    only numbers!
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class=" control-label" for="textinput">Mission Details</label>
                            <div class="">
                                <input id="textinput" name="details" class="form-control input-md" type="text"
                                       ng-model="$ctrl.order.details" required ng-maxlength="500"
                                       ng-keypress="$ctrl.enterPressed($event)">
                                <div class="help-block" ng-show="vm.myCustomForm.details.$error.required">Field Mission
                                    Details is required!
                                </div>
                                <div class="help-block" ng-show="vm.myCustomForm.details.$error.maxlength">Maximum
                                    length of the mission details is 500 symbols.
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <button type="submit" class="btn btn-warning"
                                    style="margin-left:0.5cm; border: double; font-weight:bold; padding: 7px 20px; color:#11151C; font-family:courier;"
                                    ng-click="vm.myCustomForm.$valid && $ctrl.create()"
                                    ng-disabled="vm.myCustomForm.$valid == false"> Place an Order
                            </button>

                            <div class="form-group">


                                <div class="alert alert-danger" role="alert" ng-repeat="error in $ctrl.errors">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Field '{{error.name}}' : {{error.message}}
                                </div>

                                <div class="alert alert-success" role="alert" ng-repeat="success in $ctrl.success">
                                    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    Your order has ben placed.
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
