$one-lenght: 50px;


.map{
  max-height: $one-lenght*12+20;
  max-width: $one-lenght*8+20;
  float: left;
  padding-top: 20px;

}
.unit{
  height: $one-lenght;
  width: $one-lenght;
  border: 1px dotted black;
  background-color: #fff;
  float: left;
  overflow: auto;
  margin: 0 0 0 0;
}
.unitCustomMargin{
  position: absolute;
  height: $one-lenght;
  width: $one-lenght;
  border: 1px dotted black;
}
.circle{
  border-radius: 50%;
  border: 2px solid black;
	width: $one-lenght/2;
	height: $one-lenght/2;
  background: orange;
  display: block;
  position: absolute;
  margin: $one-lenght*3.75 $one-lenght*3.75;

}
.table1{
  width: $one-lenght*2;
	height: $one-lenght*2;
   border: 4.5px #222 solid;
  background: white;
  display: block;
  position: absolute;
  margin: 0 0;
  font-family: courier;
  text-align: center;
  font-weight: bold;
}
.table1:hover{
    border: 2px solid yellow;
}
.table2{
  width: $one-lenght*2;
	height: $one-lenght*2;
   border: 4.5px #222 solid;
  background: white;
  display: block;
  position: absolute;
  margin: $one-lenght*4 0;
  font-family: courier;
  text-align: center;
  font-weight: bold;
}
.table2:hover{
    border: 2px solid yellow;
}

.table3{
  width: $one-lenght*2;
	height: $one-lenght*2;
   border: 4.5px #222 solid;
  background: white;
  font-weight: bold;
  display: block;
  position: absolute;
  margin: $one-lenght*2 $one-lenght*6;
  font-family: courier;
  text-align: center;
}
.table3:hover{
    border: 2px solid yellow;
}
.circle1{
  border-radius: 50%;
   border: 4.5px #222 solid;
	width: $one-lenght*2;
	height: $one-lenght*2;
  background: white;
  display: block;
  position: absolute;
  margin: $one-lenght*8 $one-lenght*2;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: $one-lenght*2;

}
.circle1:hover{
    border: 2px solid yellow;
}

.ob-active {
   border: 3px #222 solid;
   background: rgba(255, 165, 0, 0.8 );
}
.ob-passive {
    background: white;
}

.cross {
  width: $one-lenght*2;
	height: $one-lenght*2;
  display: block;
  position: absolute;
  margin: $one-lenght*6 $one-lenght*4;
  border-radius: 50%;
//  border: 2px solid red;
  width: $one-lenght*2;
  height: $one-lenght*2;
  background: white;
  background-image:url(https://d30y9cdsu7xlg0.cloudfront.net/png/506823-200.png);
  background-size: contain;
}
