<div class="container auth">
    <h1 class="text-center" style="font-family:courier;">User list </h1>

    <div >
      <script type="text/ng-template" id="alert.html">
        <div ng-transclude></div>
      </script>
      <div dismiss-on-timeout="4000" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>

    <fieldset>
        <div>
            <form action="">
                <div class="span7">
                    <div class="widget stacked widget-table action-table">


                        <div class="widget-content">

                            <table class="table table-striped table-bordered">
                                <thead>

                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Admin</th>
                                    <th>Customer</th>
                                    <th>Operator</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in $ctrl.users">

                                    <td>{{$index + 1 }}</td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phone}}</td>
                                    <td><input ng-model="user.userRole"
                                               ng-click="$ctrl.executeUpdate(user,'ROLE_ADMIN')" type="radio"
                                               value="ROLE_ADMIN"></td>
                                    <td><input ng-model="user.userRole"
                                               ng-click="$ctrl.executeUpdate(user,'ROLE_CUSTOMER')" type="radio"
                                               value="ROLE_CUSTOMER"></td>
                                    <td class="mylinkclass withanimation"><input ng-model="user.userRole"
                                                                                 ng-click="$ctrl.executeUpdate(user,'ROLE_OPERATOR')"
                                                                                 type="radio" value="ROLE_OPERATOR">
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>



    <div class="clearfix"></div>
</div>
</div>
</div> <!-- /widget -->
</div>
