<div>
    <h1>User List</h1>
  <form action="">
    <table class="table">
        <thead>

            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Admin</th>
                <th>Customer</th>
                <th>Operator</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in $ctrl.users">
                <td>{{$index + 1 }}</td>
                <td>{{user.userName}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td><input ng-model="user.userRole" ng-click="$ctrl.executeUpdate(user,'ROLE_ADMIN')" type="radio"  value="ROLE_ADMIN"></td>
                <td><input ng-model="user.userRole" ng-click="$ctrl.executeUpdate(user,'ROLE_CUSTOMER')" type="radio" value="ROLE_CUSTOMER"></td>
                <td><input ng-model="user.userRole" ng-click="$ctrl.executeUpdate(user,'ROLE_OPERATOR')" type="radio" value="ROLE_OPERATOR"></td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
