<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
</head>
<body>

<div class="container">
    <h2 style="font-family:courier; margin-top:2cm" >Your orders:</h2>
    <p ng-hide="$ctrl.missions[0]" style="font-family:courier; margin-top:20px; color:red;">You have no orders yet</p>
    <div class="msi-content" ui-view ng-cloak></div>
</div>
<uib-accordion close-others="true">
    <mission-details-component mission="mission" ng-repeat="mission in $ctrl.missions"></mission-details-component>
</uib-accordion>
<a ui-sref="root.orderPage" class="btn btn-primary btn-warning" style="margin-left:0.1cm; margin-top:0.2cm;">Order drone service</a>
</body>
</html>
